<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <form class="add-project">
        <label for="">Project Name</label>
        <input type="text">
        <label for="">Description</label>
        <textarea class="project-description"></textarea>
        <label for="">Client Name</label>
        <input type="text">
        <label for="">Client Email</label>
        <input type="text">
        <label for="">Extra Details</label>
        <input type="textarea">
    </form>
</body>
</html>