<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <title>Project Portal</title>
</head>
<header>
    Projects
</header>
<body>
    <p>Please read each project carefully and choose your first, second, and third option down below.</p>
    <iframe src="../Project Tests.pdf"></iframe>
    <br>
    <span>Option 1</span>
    <select>
        <option value="">Project 1</option>
        <option value="">Project 2</option>
        <option value="">Project 3</option>
        <option value="">Project 4</option>
        <option value="">Project 5</option>
        <option value="">Project 6</option>
    </select>
    <span>Option 2</span>
    <select>
        <option value="">Project 1</option>
        <option value="">Project 2</option>
        <option value="">Project 3</option>
        <option value="">Project 4</option>
        <option value="">Project 5</option>
        <option value="">Project 6</option>
    </select>
    <span>Option 3</span>
    <select>
        <option value="">Project 1</option>
        <option value="">Project 2</option>
        <option value="">Project 3</option>
        <option value="">Project 4</option>
        <option value="">Project 5</option>
        <option value="">Project 6</option>
    </select>
</body>
</html>